.venv
__pycache__
Ссылка репозитория GitHub.txt
arhive_HW_№3.rar
HW_4/arhive_HW_№4.rar
HW_5
HW_6/HW_6.rar
cities.json
.vscode/settings.json
HW_8/HW_6.rar
.gitignore
HW_8/testData.py
HW_8/dataClass.py
HW_9/marvel.py
HW_8/HW_8.rar
users.csv
.gitignore
HW_10/GitHub.txt
HW_10/HW10.rar
